# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Alembic / migrations cache
migrations/__pycache__/

# Logs
*.log

# Database files
*.db

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
